@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-face {
    font-family: "Nasa";
    src: url("Fonts/nasalization-rg.otf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("Fonts/Raleway.ttf");
    font-weight: normal;
  }



  :root {
    font-family: 'Nasa'; 
}

p, label, select{
  font-family: "Raleway";
  letter-spacing: 1 px;
}
*/

